
<div class="panel panel-primary">
    
    <div class="panel-heading">My Badges</div>
    <div class="panel-body">
        <div class="col-md-6">
            <a class="btn btn-primary" href="#/personbadge/new"><i class="glyphicon glyphicon-file"></i> New</a>
        </div>
        <div class="col-xs-10 col-lg-6 col-md-6">
            <div class="input-group">
                <input type="text" id="searchText" class="form-control pull-right" placeholder="Search for..." ng-model="search_txt">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-xs" type="button">
                        <i class="text-muted glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Badge Image</td>
                        <td>Badge Name</td>
                        <td>Badge State</td>
                       <!-- <td>Badge Image</td>-->
                       
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in personBadges | filter:search_txt ">
                        <td><img ng-src="data:image/JPEG;base64,{{item.Badge.BadgeImage}}"></td>
                        <td>{{item.Badge.BadgeName}}</td>

                        <td>{{item.PersonBadgeState}}</td>

                        <td>
                            <a class="btn btn-primary btn-xs" href="#/personbadge/{{item.Id}}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>-
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
